.headerContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Vertically center-align the content */
    flex-direction: row; /* Stack the content vertically */
    height: 20vh; /* Set a minimum height to ensure the header takes up the whole viewport */
    justify-content: center; /* Horizontally center-align the content */
    background-color: #f0f0f0; /* Example background color */
}

.linksContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vh;
}

.headerLink {
    margin-right: 20px; /* Add margin between links as needed */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color as needed */
    background-color: #4f4444;
}