.headerContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #4f4444; /* Set the background color as needed */
    color: white; /* Set the font color as needed */
    padding: 20px; /* Add padding as needed */
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.linksContainer {
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: flex-start; /* Align items to the left side */
    background-color: #4f4444;
}

.headerLink {
    margin-right: 20px; /* Add margin between links as needed */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color as needed */
    background-color: #4f4444;
}