.jokeButtonContainer {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 80vh; 
    justify-content: center; 
    background-color: #ececec; 
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.jokeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    margin-top: 3vh; 
}

.jokeButton:hover {
    background-color: rgb(38, 149, 110);
    color: white;
}


.memeModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .memeModalContent {
    width: 400px; 
    height: 300px; 
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .memeModalContent img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  } 