.jokeButtonContainer {
    display: flex;
    align-items: center; /* Vertically center-align the content */
    flex-direction: column; /* Stack the content vertically */
    height: 50vh; /* Set a minimum height to ensure the header takes up the whole viewport */
    justify-content: center; /* Horizontally center-align the content */
    background-color: #c0a7a7; /* Example background color */
}

.jokeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    width: 150px; /* Set a fixed width for the button */
    text-align: center; /* Center the text horizontally */
}

.jokeButton:hover {
    background-color: rgb(38, 149, 110);
    color: white;
}

/* Styles for the meme modal overlay */
.memeModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .memeModalContent {
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Styles for the meme modal image */
  .memeModalContent img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }